@import './reset.css';
/* = = = = = = = = = = = = = = = */
/* BODY STYLES                   */
/* = = = = = = = = = = = = = = = */
body {
    color: #FFF;
    background-image: linear-gradient(to right top, #472183, #5d2e9d, #743ab7, #8c48d1, #a555ec);
}

h1 {
    font-size: 2.3rem;
}

div, input, button {
    border-radius: 8px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 1.3rem;
    color: #FFF;
    background-color: rgba(0,0,0,0.3);
}

button {
    width: 100px;
    padding: 8px;
    font-weight: 700;
    font-size: 1.2rem;
    color: #FFF;
}

table {
    text-align: center;
    animation: 0.75s slideUp linear;
}

table td:first-child {
    font-weight: 700;
    color: #3CCF4E;
}

dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    width: 500px;
    height: 400px;
    margin: auto;
    padding-inline: 35px;
    border-radius: 6px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    background-color: #181818;
}

dialog p {
    font-size: 1.1rem;
}

dialog p+p {
    font-weight: 700;
    color: #4BB543;
}

dialog[open] {
    animation: 0.75s slideDown linear;
}

@keyframes slideDown {
    from {
        opacity: 0;
        translate: 0 -20px;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        translate: 0 20px;
    } to {
        opacity: 1;
        translate: 0 0;
    }
}


